* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: linear-gradient(
    to bottom right,
    rgb(13, 13, 21) 30%,
    rgb(135, 130, 238)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0% 10%;
  font-family: Arial, Helvetica, sans-serif;
  height: 100svh;
  max-height: 100svh;
  max-width: 100svw;
}
body > div {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
header {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
input {
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(242, 241, 245);
  margin: 15px;
  justify-content: center;
  height: 10px;
  font-size: 17px;
  width: 80%;
}
#s1 {
  width: 25%;
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
}
#s2 {
  border-radius: 10px;
  padding: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tag-btn {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(242, 241, 245);
  box-shadow: 0px 0px 5px gray;
}
#tags:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  background-color: rgba(160, 158, 211, 0.941);
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(209, 209, 246);
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
  background-color: rgba(160, 158, 211, 0.941);
}
.post {
  background-color: rgb(242, 241, 245);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  justify-self: center;
}
.post-card {
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}
#eye {
  margin-right: 5px;
  color: rgb(14, 14, 92);
}
#heart {
  margin-left: 5px;
  color: red;
}
#thumbs-down {
  margin-left: 5px;
  color: rgb(14, 14, 92);
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}